@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #ffa239;
}

@layer components {
  .text-highlight {
    color: var(--accent);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-lora), serif;
}

p {
  font-family: var(--font-roboto), sans-serif;
}
