.masonry-list {
  position: relative;
  width: 100%;
}

.masonry-item {
  position: absolute;
  padding: 8px;
  box-sizing: border-box;
}

.masonry-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
}
.masonry-img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}